*:focus {
  outline: none;
}
body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
}
.form_hint { 
  font-size: 11px;
}
.contact_form ul {
  width: 750px;
  list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.contact_form li{
	padding: 12px; 
	border-bottom: 1px solid #eee;
} 
.contact_form h2 {
	margin: 0;
  text-align: center;
}
.contact_form label {
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
}
.contact_form input {
  padding: 5px 8px;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}
.contact_form input:focus {
  padding: 5px 12px;
}
.contact_form textarea {
  padding: 8px;
  width: 300px;
}
.contact_form button {
  padding: 12px 17px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 1px solid #333;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .2s;
  margin: 12px auto;
  margin-left: 166px;
}
.contact_form button:hover {
  background: #333;
  color: #fff;
}
input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:valid:not(:placeholder-shown) {
  border-color: lime;
}
.push {
  display: flex;
  align-content: center;
}
.check {
  width: 25px;
  height: 20px;
}