.card {
	max-width: 250px;
	&__gif {
		width: 100%;

		img {
			width: 250px;
			max-height: 250px;
			height: 250px;
			border-radius: 5px;
		}
	}

	&-text {
		color: #fff;
		padding: 10px;
		display: flex;
		flex-direction: column;

		&__title {
			text-transform: uppercase;
			text-align: center;
		}

		&__link {
			color: blue;
			text-decoration: none;
			margin-top: 10px;
			width: 100%;
			text-align: center;
		}
	}
}
