@import '../../css/fonts';
@import '../../css/colors';
.btn {
  border: none;
  outline: none;
  color: $light;
  box-sizing: border-box;
  min-width: 100px;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;

  &-primary {
    background: $primary;
  }

  &-danger {
    background: $danger;
  }

  &-success {
    background: $succes;
  }
}
