@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

body {
  background: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calendar {
  width: 1344px;
  margin: 10px auto;
  background: #fff;
  border-top: 2px solid lightgray;
}
h1 {
  font-weight: 400;
  padding: 10px 0 0 10px;
  margin: 0;
}
h1 span {
  font-weight: 100;
}
.days {
  display: flex;
  border-bottom: 2px solid lightgray;
}
.day {
  width: 14.2%;
  text-align: right;
  font-weight: 400;
}
.days-number {
  display: flex;
  flex-wrap: wrap;
}
.day-number {
  width: 180px;
  height: 150px;
  border: 1px solid lightgray;
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
}
.weekends, .next-month {
  color: #C2C2C2 !important;
}
.weekend-day {
  background: #F5F5F5;
  color: #98928F;
}
.accordion {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  position: fixed;
  right: 0;
  top: 50%;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 15px;
  height: 15px;
}
.current {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: lime;
  padding: 7px;
  font-weight: 700;
}
/*Dark*/
.dark-calendar {
  background: #333;
}
.dark-title {
  color: #fff;
}
.dark-day, .dark-day-number {
  color: #fff;
}
.dark-weekends {
  color: #6b6868;
}
.dark-next-month {
  color: #a2a0a0;
}
.dark-weekend-day {
  background: #6b6868;
}